.vscode/**
.vscode-test/**
.github/**

src/**
.gitignore
.yarnrc
.ado/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

webview-ui/src/**
webview-ui/node_modules/**

node_modules/**

# Config files
esbuild.js
*.config.js